In [162]:
import pandas as pd

In [163]:
data = pd.read_csv('weatherhistoricaldata1.csv')

In [164]:
data.columns
data['WND']

0      220,1,N,0100,1
1      230,1,N,0090,1
2      240,1,N,0090,1
3      308,1,N,0078,1
4      330,1,N,0050,1
            ...
985    090,1,N,0050,1
986    080,1,N,0030,1
987    060,1,N,0050,1
988    050,1,N,0050,1
989    050,1,N,0040,1
Name: WND, Length: 990, dtype: object

In [ ]:
def parseTemperature(entry):
    temp_str, _ = entry.split(",")
    return int(temp_str)/10

In [166]:
def parseRainfall(entry):
    parts = entry.split(",")
    if len(parts) != 4:
        return None
    precipitation = int(parts[1])/10

    return precipitation

In [167]:
def parseCeilingHeight(entry):
    parts = entry.split(",")
    if len(parts) != 4:
        return None
    
    celheight = None if parts[0] == "99999" else int(parts[0])

    return celheight

In [ ]:
def parseVisibility(entry):
    parts = entry.split(",")
    if len(parts) != 4:
        return None
    
    vis = None if parts[0] == "99999" else int(parts[0])/10 ##review

    return vis

In [169]:
def parseSLPressure(entry):
    parts = entry.split(",")
    if len(parts) != 2:
        return None
    
    slp = None if parts[0] == "99999" else int(parts[0])/10

    return slp

In [170]:
def parseDew(entry):
    parts = entry.split(",")
    if len(parts) != 2:
        return None
    
    dew = int(parts[0])

    return dew

In [171]:
def parseWindSpeed(entry):
    parts = entry.split(",")
    if len(parts) != 5:
        return None
    
    wind = None if parts[3] == "99999" else int(parts[3])/10  ## wind in m/s

    return wind

In [172]:
def parseWindDir(entry):
    parts = entry.split(",")
    if len(parts) != 5:
        return None
    
    direction = None if parts[0] == "99999" else int(parts[0])

    return direction

In [173]:
### Testing with random dataframe values

# val = data['WND'].sample(n=4).values[0]
# val

# test = parseWindDir(val)
# test

In [174]:
## Parsing Block

data['WND'] = data['WND'].apply(parseWindSpeed)
# data['CIG'] = data['CIG'].apply(parseCeilingHeight)
data['AA1'] = data['AA1'].apply(parseRainfall)
data['TMP'] = data['TMP'].apply(parseTemperature)
data['SLP'] = data['SLP'].apply(parseSLPressure)
data['DEW'] = data['DEW'].apply(parseDew)

In [175]:
rescols = ['WND', 'CIG', 'AA1', 'TMP', 'VIS', 'SLP', 'DEW']

In [176]:
filtereddata = data[rescols]
filtereddata

      WND          CIG    AA1  TMP           VIS     SLP  DEW
0    10.0  99999,9,9,N    0.7  8.5  999999,9,9,9   985.8   66
1     9.0  99999,9,9,N    0.3  7.5  999999,9,9,9   985.6   60
2     9.0  99999,9,9,N    0.0  7.3  999999,9,9,9   985.6   58
3     7.8  99999,9,9,9  999.9  5.0  999999,9,9,9   986.0   34
4     5.0  99999,9,9,N    0.0  3.9  999999,9,9,9   985.9   24
..    ...          ...    ...  ...           ...     ...  ...
985   5.0  99999,9,9,N    0.0  7.5  999999,9,9,9  1035.1  -19
986   3.0  99999,9,9,N    0.0  6.7  999999,9,9,9  1034.7    0
987   5.0  99999,9,9,N    0.0  5.8  999999,9,9,9  1034.3    0
988   5.0  99999,9,9,N    0.0  5.3  999999,9,9,9  1034.2   -3
989   4.0  99999,9,9,N    0.0  4.6  999999,9,9,9  1033.8   -2

[990 rows x 7 columns]

In [177]:
residuals = ['WND', 'AA1', 'TMP', 'SLP', 'DEW']

In [178]:
ffdata = data[residuals]
ffdata

      WND    AA1  TMP     SLP  DEW
0    10.0    0.7  8.5   985.8   66
1     9.0    0.3  7.5   985.6   60
2     9.0    0.0  7.3   985.6   58
3     7.8  999.9  5.0   986.0   34
4     5.0    0.0  3.9   985.9   24
..    ...    ...  ...     ...  ...
985   5.0    0.0  7.5  1035.1  -19
986   3.0    0.0  6.7  1034.7    0
987   5.0    0.0  5.8  1034.3    0
988   5.0    0.0  5.3  1034.2   -3
989   4.0    0.0  4.6  1033.8   -2

[990 rows x 5 columns]